In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.autograd import Variable
import random

In [2]:
data=pd.read_csv("C:/Users/PARIKALP/AppData/Local/Programs/Python/Scripts/iris/Iris.csv")

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
len(data.columns)

6

In [105]:
data=data.drop(["Id"],axis=1)

In [106]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [107]:
class_mapping = {label:idx for idx,label in enumerate(np.unique(data['Species']))}
data['Species'] = data['Species'].map(class_mapping)

In [108]:
class_mapping

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [82]:
class_mapping={label:idx for idx,label in enumerate(np.unique(data["Species"]))}
data["Species"]=data["Species"].map(class_mapping)
class_mapping

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [83]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [109]:
data=data.as_matrix()

c:\users\parikalp\appdata\local\programs\python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [110]:
np.random.shuffle(data)

In [113]:
X=data[:,:-1]
Y=data[:,-1]

In [116]:
train_len = int(0.8 * len(Y))
train_len

120

In [118]:
test_len = int(len(Y) - train_len)
test_len

30

In [126]:
X_train=X[:train_len]
y_train=Y[:train_len]

In [127]:
X_test=X[-test_len:]
y_test=X[-test_len:]

In [130]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((120, 4), (30, 4), (120,), (30, 4))

In [155]:
class Logistic_Regression(nn.Module):
    def __init__(self,input_dim,hidden_ly,output_dim):
        super(Logistic_Regression,self).__init__()
        self.linear=nn.Linear(input_dim,hidden_ly)
        self.relu=nn.ReLU()
        self.linear2=nn.Linear(hidden_ly,output_dim)
        
    def forward(self,x):
        out=self.linear(x)
        out=self.relu(out)
        out=self.linear2(out)
        return out

In [156]:
input_dim=4
hidden_ly=4
output_dim=3
model=Logistic_Regression(input_dim,hidden_ly,output_dim)

In [157]:
criterion=nn.CrossEntropyLoss()

In [158]:
lr=0.001
optimizer=torch.optim.SGD(model.parameters(),lr=lr)

In [163]:
num_epoch=3000
for epoch in range(num_epoch):
    x=Variable(torch.Tensor(X_train).float())
    y=Variable(torch.Tensor(y_train).long())
    
    optimizer.zero_grad()
    
    output=model(x)
    
    loss=criterion(output,y)
    
    loss.backward()
    
    optimizer.step()
    
    if(epoch)%100==0:
        print(f"epoch : {epoch} , num_epoch : {num_epoch} , Loss : {loss.data} ")
        
        
        
    x = Variable(torch.Tensor(X_test).float())

    y = torch.Tensor(y_test).long()
        
    out = model(x)
    
    _, predicted = torch.max(out.data, 1)
    
    
    
    
        
#     print('Accuracy of the network %d %%' % (100 * torch.sum(y==predicted) / len(y_test)))

epoch : 0 , num_epoch : 3000 , Loss : 0.5484673380851746
epoch : 100 , num_epoch : 3000 , Loss : 0.5405622124671936
epoch : 200 , num_epoch : 3000 , Loss : 0.5330163836479187
epoch : 300 , num_epoch : 3000 , Loss : 0.5258070826530457
epoch : 400 , num_epoch : 3000 , Loss : 0.5189069509506226
epoch : 500 , num_epoch : 3000 , Loss : 0.5122918486595154
epoch : 600 , num_epoch : 3000 , Loss : 0.5059391856193542
epoch : 700 , num_epoch : 3000 , Loss : 0.49982741475105286
epoch : 800 , num_epoch : 3000 , Loss : 0.49393635988235474
epoch : 900 , num_epoch : 3000 , Loss : 0.488246887922287
epoch : 1000 , num_epoch : 3000 , Loss : 0.4827415645122528
epoch : 1100 , num_epoch : 3000 , Loss : 0.4774039685726166
epoch : 1200 , num_epoch : 3000 , Loss : 0.47221851348876953
epoch : 1300 , num_epoch : 3000 , Loss : 0.4671715795993805
epoch : 1400 , num_epoch : 3000 , Loss : 0.4622505307197571
epoch : 1500 , num_epoch : 3000 , Loss : 0.457442969083786
epoch : 1600 , num_epoch : 3000 , Loss : 0.4527384638786316
epoch : 1700 , num_epoch : 3000 , Loss : 0.44812729954719543
epoch : 1800 , num_epoch : 3000 , Loss : 0.4436001777648926
epoch : 1900 , num_epoch : 3000 , Loss : 0.43914926052093506
epoch : 2000 , num_epoch : 3000 , Loss : 0.43476706743240356
epoch : 2100 , num_epoch : 3000 , Loss : 0.4304467439651489
epoch : 2200 , num_epoch : 3000 , Loss : 0.4261828362941742
epoch : 2300 , num_epoch : 3000 , Loss : 0.42196938395500183
epoch : 2400 , num_epoch : 3000 , Loss : 0.41780221462249756
epoch : 2500 , num_epoch : 3000 , Loss : 0.4136764407157898
epoch : 2600 , num_epoch : 3000 , Loss : 0.40958869457244873
epoch : 2700 , num_epoch : 3000 , Loss : 0.40553563833236694
epoch : 2800 , num_epoch : 3000 , Loss : 0.40151432156562805
epoch : 2900 , num_epoch : 3000 , Loss : 0.3975221514701843

In [41]:
df=pd.get_dummies(data["Species"])

In [42]:
df=df.drop([1],axis=1)

In [43]:
df=df.drop([2],axis=1)

In [44]:
data2=pd.concat([data,df])

In [45]:
data2=data2.drop([0],axis=1)

In [47]:
data2["Species"]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    NaN
146    NaN
147    NaN
148    NaN
149    NaN
Name: Species, Length: 300, dtype: float64